@import src/_config
@import src/_profile

#container-5 
		background: #ffffff
		position: relative
		width: 100%
		height: 53.75rem
		@include isMobile
				display: flex
				flex-direction: column
				justify-content: space-between
				height: auto
		@include uhd
				height: 53.75rem * $calc-uhd
		@include wqhd
				height: 53.75rem * $calc-wqhd
		@include xl
				height: 53.75rem / $calc-xl
		@include lg
				height: 53.75rem / $calc-lg
		.spacer
				@for $i from 1 through 2
						&:nth-child(#{$i})
								margin-top: #{$i * 18}rem
								// @include uhd
								// 		margin-top: #{$i * 20}rem * $calc-uhd
								// @include wqhd
								// 		margin-top: #{$i * 20}rem * $calc-wqhd
								@include xl
										margin-top: #{$i * 20}rem / $calc-xl
								@include lg
										margin-top: #{$i * 20}rem / $calc-lg
				@include isMobile
						display: none
		#ad-info 
				position: absolute
				margin-top: 12.0625rem
				margin-left: 20%
				z-index: 1
				width: 100%
				@include isMobile
						position: relative
						margin-left: 5%
						z-index: 0
				@include uhd
						margin-top: 12.0625rem * $calc-uhd
						// margin-left: 20% * $calc-uhd
				@include wqhd	
						margin-top: 12.0625rem * $calc-wqhd
						// margin-left: 20% * $calc-wqhd
				@include xl
						margin-top: 12.0625rem / $calc-xl
						margin-left: 20% / $calc-xl
				@include lg
						margin-top: 8.0625rem / $calc-lg
						margin-left: 20% / $calc-lg
				@include mdl
						margin-top: 5.8125rem / $calc-mdl
						width: 90%
				@include mdp
						margin-top: 5.8125rem / $calc-mdp
						width: 90%
				@include sml
						margin-top: 5.8125rem / $calc-sml
						width: 90%
				@include smp
						margin-top: 5.8125rem / $calc-sml
						width: 90%
		#ad-button 
				border-color: rgb(0, 0, 0)
				background: rgba(255, 255, 255, 0)
				margin-top: 3.5625rem
				cursor: pointer
				font-family: 'noto-sansM'
				border-style: solid
				border-width: 2px
				font-size: 1.375rem
				width: 15.0625rem
				height: 3.3125rem
				z-index: 1
				@include isMobile
						position: relative
						width: 100%
						z-index: 0
				@include uhd
						margin-top: 3.5625rem * $calc-uhd
						font-size: 1.375rem * $calc-uhd
						width: 15.0625rem * $calc-uhd
						height: 3.3125rem * $calc-uhd
				@include wqhd
						margin-top: 3.5625rem * $calc-wqhd
						font-size: 1.375rem * $calc-wqhd
						width: 15.0625rem * $calc-wqhd
						height: 3.3125rem * $calc-wqhd
				@include xl
						margin-top: 3.5625rem / $calc-xl
						font-size: 1.375rem / $calc-xl
						width: 15.0625rem / $calc-xl
						height: 3.3125rem / $calc-xl
				@include lg
						margin-top: 3.5625rem / $calc-lg
						font-size: 1.375rem / $calc-xl
						width: 15.0625rem / $calc-xl
						height: 3.3125rem / $calc-xl
				@include mdl
						margin-top: 4.1875rem / $calc-mdl
						font-size: 2.125rem / $calc-mdl
						height: 5rem / $calc-mdl
				@include mdp
						margin-top: 4.1875rem / $calc-mdp
						font-size: 2.125rem / $calc-mdp
						height: 5rem / $calc-mdp
				@include sml
						font-size: 2.125rem / $calc-sml
						margin-top: 4.1875rem / $calc-sml
						height: 5rem / $calc-sml
				@include smp
						font-size: 2.125rem / $calc-sml
						margin-top: 4.1875rem / $calc-sml
						height: 5rem / $calc-sml
				&:focus
						outline: none
				&:active
						background: black
						color: white
		#mobile-device
				display: none
				@include isMobile
						content: url('/images/mobile/small-device.png')
						display: block
						width: 100%
						height: auto
						// bottom: 0
		#device-container
				position: relative
				width: 100%
				height: 100%
				right: 0
				bottom: 0
				#big-device 
						position: absolute
						display: block
						content: url('/images/desktop/big-device.png')
						width: 58rem
						height: 52.5rem
						right: 0
						bottom: 0
						@include uhd
								width: 58rem * $calc-uhd
								height: 52.5rem * $calc-uhd
						@include wqhd
								width: 58rem * $calc-wqhd
								height: 52.5rem * $calc-wqhd
						@include xl
								width: 58rem / $calc-xl
								height: 52.5rem / $calc-xl
						@include lg
								width: 58rem / $calc-lg
								height: 52.5rem / $calc-lg
				#small-device 
						position: absolute
						display: block
						content: url('/images/desktop/small-device.png')
						width: 37.1875rem
						height: 34.3125rem
						right: 27.5625rem
						bottom: 0
						@include isMobile
								display: none
						@include uhd
								width: 37.1875rem * $calc-uhd
								height: 34.3125rem * $calc-uhd
								right: 27.5625rem * $calc-uhd
						@include wqhd
								width: 37.1875rem * $calc-wqhd
								height: 34.3125rem * $calc-wqhd
								right: 27.5625rem * $calc-wqhd
						@include xl
								width: 37.1875rem / $calc-xl
								height: 34.3125rem / $calc-xl
								right: 28.5625rem / $calc-xl
						@include lg
								width: 37.1875rem / $calc-lg
								height: 34.3125rem / $calc-lg
								right: 28.5625rem / $calc-lg
