@import src/_config
@import src/_profile

#container-3 
		position: relative
		width: 100%
		height: 48rem
		@include isMobile
				display: flex
				flex-direction: column
				align-items: center
				align-self: center
		@include xl
				height: 48rem / $calc-xl
		@include lg
				height: 48rem / $calc-lg
		@include mdl
				height: 61.5625rem / $calc-mdl
		@include mdp
				height: 61.5625rem / $calc-mdp
		@include sml
				height: 61.5625rem / $calc-mdp
		@include smp
				height: 61.5625rem / $calc-sml
		.image-container
				position: absolute
				display: inline-block
				min-width: 100%
				min-height: 100%
				overflow: hidden
				img
						position: absolute
						left: 0
						min-width: 100%
						min-height: 100%
						&:active
								z-index: 2
				#afternoon 
						content: url('/images/desktop/afternoon.jpg')
						@include isMobile
								content: url('/images/mobile/small-car-back.jpg')
								width: 100%
								height: 100%
				#evening 
						content: url('/images/desktop/evening.jpg')
						@include isMobile
								display: none
				
		#car
				position: absolute
				background-image: url('/images/desktop/car.png')
				-webkit-background-size: cover
				-moz-background-size: cover
				-o-background-size: cover
				background-size: cover
				right: 0px
				bottom: 0px
				min-width: 115.625rem
				min-height: 34.1875rem
				@include xl
						min-width: 115.625rem / $calc-xl
						min-height: 34.1875rem / $calc-xl
				@include lg
						min-width: 115.625rem / $calc-lg
						min-height: 34.1875rem / $calc-lg
				@include isMobile
						display: none
		#container-3-text-container 
				position: absolute
				width: 80%
				margin-top: 11.8125rem
				margin-left: 20%
				@include isMobile
						position: relative
						// margin-left: auto
				@include xl
						margin-top: 11.8125rem / $calc-xl
						margin-left: 20% / $calc-xl
				@include lg
						margin-top: 11.8125rem / $calc-lg
						margin-left: 20% / $calc-lg
				@include mdl
						margin-top: 6.3125rem / $calc-mdl
						width: 50.155rem / $calc-mdl
				@include mdp
						margin-top: 6.3125rem / $calc-mdp
						width: 50.155rem / $calc-mdp
				@include sml
						margin-top: 6.3125rem / $calc-sml
						width: 50.155rem / $calc-sml
				@include smp
						margin-top: 6.3125rem / $calc-smp
						width: 50.155rem / $calc-sml
				